*{
	padding: 0;
	margin: 0;
	font-family: "Comic Sans Ms";
	color: white;

}

.rojo{
	background: #ff5f5d;
}

.azul{
	background:#027aa4;
}

.amarillo{
	background: #1fc2b4;
}
body{
	

	width: 100%;
	margin: auto;
	overflow-scrolling: none;
}

.presentacion {
	
	margin: auto;
	
	color: white;
	font-family: dominebold;

	text-align: center;
	width: 100%;


	box-shadow: .1em .1em 1em black;
	margin-bottom: 1em;
	min-height:  100%;


	background-attachment: fixed;

	
	overflow: hidden;

	
}

.presentacion .nombre{
	background: #22282f;
	padding: .5em;
	

}

.boton{
	background:#e27a3f;
	padding: 1em;
	border: 1.2em;
	border-radius: .3em;
	cursor: pointer;
	transition: .2s;

}

.boton:hover{
		box-shadow: .1em .1em 1em white;
		transition: .2s;
		padding: 2em;
}

img{

	border: .2em solid#323a46;
	border-radius: 1em;
	box-shadow: .3em .3em 1em black;
	height: 15em;
}

.datos-basicos{

	width: 40%;
	background: #22282f;
	margin-top: 1em;
	margin-left: 1em;
	display: inline-block;
	padding: 1em;
	border-radius: .3em;
	box-shadow: .5em .5em 1em black;
}

.titulo{

	width: 90%;
	background: #22282f;
	margin-top: 1em;
	margin-left: 1em;
	display: inline-block;
	padding: 1em;
	border-radius: .3em;
	box-shadow: .5em .5em 1em black;
	text-align: center;
}

.texto{
	
	margin: auto;
	width: 85%;
	opacity: .9;
	background: #22282f;
	margin-top: 1em;
	margin-left: 1em;
	display: inline-block;
	padding: 1em;
	border-radius: .3em;
	box-shadow: .5em .5em 1em black;
	text-align: justify;
}

.texto p{
		text-align: justify;
		width: 93%;
		margin: auto;
}

