<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">
        {{ 'navbar.about' | translate }}
      </h2>        
          <h3 class="section-subheading text-muted text-justify mt-4"   >
            {{ 'about.message' | translate  }}
            {{ 'about.message2' | translate  }}
            {{ 'about.message3' | translate  }}
          </h3>
    </div>
    <ul class="timeline">
      <li *ngFor="let workExperience of workExperienceTimeline; let odd = odd" [ngClass]="{ 'timeline-inverted' : odd    }"   >
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="{{ workExperience.img }}"
            alt="img company"
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading"> {{ workExperience.job_title | translate  }}   </h4>
            <h6> {{workExperience.company}}, {{workExperience.country}}  </h6>
            <h6> {{workExperience.init}}  -  {{workExperience.end}}</h6>
          </div>
          <div class="timeline-body">
            
            <p class="text-muted">
              {{workExperience.description | translate}} 
            </p>
           
            <h6> {{ 'about.way_of_working' | translate }}:</h6>
            <h6 class="text-muted" >  
              <span *ngIf="workExperience.remote; else elseRemote">
                {{ 'about.remote' | translate  }} 
              </span>
              <ng-template #elseRemote>
                {{ 'about.on_site' | translate  }} 
              </ng-template>
              -
              <span *ngIf="workExperience.full_time; else elsePartTime">
                {{ 'about.full_time' | translate  }} 
              </span>
              <ng-template #elsePartTime>
                {{ 'about.part_time' | translate  }} 
              </ng-template>
            </h6>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
          class="rounded-circle img-fluid"
          src="assets/armando.gif"
          alt="gif"
        />
        </div>
      </li>
    </ul>
  </div>
</section>
