<div class="container text-center" ng-controller="descarga" >
    <h2 class="mb-4 wow slideInDown"  >{{titulo[idioma]}}</h2>
    <br>
    <a class="mt-2  btn btn-dark   text-capitalize btn-lg   btn-custom-blue wow pulse"  data-wow-iteration="infinite"> {{botonera[0][idioma]}} </a>
    <a class="mt-2 offset-2  btn btn-dark   text-capitalize btn-lg   btn-custom-blue wow pulse"  data-wow-iteration="infinite"> {{botonera[1][idioma]}}  </a>
    <a class="mt-2 offset-2 btn btn-dark   text-capitalize btn-lg   btn-custom-blue wow pulse"  data-wow-iteration="infinite" > {{botonera[2][idioma]}} </a>
  </div>


   




  