<div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6" ng-repeat="portafolio in arrayPortafolio" >
        <a class="portfolio-box" href="{{portafolio.img}}"  title="{{portafolio[idioma].descripcion}}" >
          <img class="img-fluid" src="{{portafolio.imgMiniatura}}" alt="proyecto"   >
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category ">
                <h2> {{portafolio[idioma].titulo}} </h2s>
              </div>
              <div class="project-name text-faded">
                {{portafolio[idioma].subTitulo}}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

<script>
$(document).ready(function(){
 // Configuracion de MagnificPopup 
  $('.popup-gallery').magnificPopup({
    delegate:   'a',
    type:      'image',
    tLoading:  'Loading image #%curr%...',
    mainClass: 'mfp-img-mobile',
    gallery:   { enabled: true,navigateByImgClick: true, preload: [0, 1] },
    image:     { tError: '<a href="%url%">The image #%curr%</a> could not be loaded.' }
  })
})
</script>