<section class="page-section" id="skills">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading wow bounceIn">
        {{ 'navbar.skills' | translate }}
      </h2>
    </div>
    <div class="row text-center">

      @for (skill of skills; track $index) {
      <div
        class="col-md-4 mt-3 mb-5 wow bounceInUp" >
        <span class="fa-stack fa-4x">
          <img
            src="{{ skill.img }}"
            alt="img {{ skill.title | translate }}"
            class="skill-icon"
          />
        </span>
        <h4 class="my-3">{{ skill.title | translate }}</h4>
        @if (skill.description) {
          <h6 *ngIf="" class="text-mute">
            {{ skill.description | translate }}
          </h6>

        }
       
      </div>
      }
    </div>
  </div>
</section>
