<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="mt-5 mb-5 section-heading wow bounceIn">
        {{ 'navbar.portfolio'  }}
      </h2>
    </div>

    <div class="row">
      <div
        class="col-lg-4 col-sm-6"
        *ngFor="let portfolio of portfolios; let i = index"
      >
        <!-- Portfolio item 6-->
        <div class="portfolio-item wow bounceInUp">
          <a
            class="portfolio-link"
            data-bs-toggle="modal"
            href="#portfolioModal"
            (click)="openModal(i)"
          >
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img
              class="img-thumbnail cover"
              src="{{ portfolio.portada }}"
              alt="img portfolio"
            />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">
              {{ portfolio.title }}
            </div>
            <div class="portfolio-caption-subheading text-muted">
              {{ portfolio.descrip  }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="portfolio-modal modal fade"
  id="portfolioModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="modal-body">
              <!-- Project details-->
              <h2>{{ dataModal.title }}</h2>
              <p class="item-intro text-muted text-justify mt-1">
                {{ dataModal.descrip_large  }}
              </p>
              <div
                id="carouselExampleCaptions"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div
                    *ngFor="
                      let resourcePortfolio of dataModal.preview;
                      let index = index
                    "
                    [ngClass]="{
                      'carousel-item': true,
                      active: index == 0
                    }"
                    data-bs-interval="10000"
                  >
                    <img
                      src="{{ resourcePortfolio.url }}"
                      class="d-block w-100 cover-modal"
                      alt="img"
                    />
                    <div class="carousel-caption d-none d-md-block">
                      <h5>{{ resourcePortfolio.title }}</h5>
                      <p>
                        {{ resourcePortfolio.descrip }}
                      </p>
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <button
                class="btn btn-primary btn-xl"
                data-bs-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times me-1"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
