<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading wow bounceIn mt-5 mb-5">
        {{ 'navbar.contact'  }}
      </h2>
    </div>

    <form id="contactForm" [formGroup]="formContact" (ngSubmit)="submit()">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6 wow bounceInUp">
          <div class="form-group">
            <div *ngIf="checkError(name)" class="invalid-feedback">
              <span class="badge bg-danger" *ngIf="name.errors?.['required']">
                {{ 'contact.errors.required'  }}
              </span>
              <span class="badge bg-danger" *ngIf="name.errors?.['maxlength']">
                {{ 'contact.errors.maxlength'  }} 100
              </span>
              <span class="badge bg-danger" *ngIf="name.errors?.['minlength']">
                {{ 'contact.errors.minlength'  }} 3
              </span>
            </div>
            <input
              class="form-control"
              id="name"
              type="text"
              placeholder="{{ 'contact.name'  }}"
              formControlName="name"
              maxlength="101"
              [ngClass]="{
                'active-error': validate(name)
              }"
            />
          </div>
          <div class="form-group">
            <!--div class="invalid-feedback" *ngIf="checkError(email)">
              <span *ngIf="email.errors.required" class="badge bg-danger">
                {{ 'contact.errors.required'  }}
              </span>
              <span *ngIf="email.errors.maxlength" class="badge bg-danger">
                {{ 'contact.errors.maxlength'  }} 100
              </span>
              <span *ngIf="email.errors.email" class="badge bg-danger">
                {{ 'contact.errors.email'  }}
              </span>
            </div -->
            <input
              class="form-control"
              id="email"
              type="email"
              formControlName="email"
              placeholder="{{ 'contact.email'  }}"
              maxlength="101"
              [ngClass]="{
                'active-error': validateEmail(email)
              }"
            />
          </div>
          <div class="form-group mb-md-0">
            <!--div *ngIf="checkError(phone)" class="invalid-feedback">
              <span class="badge bg-danger" *ngIf="phone.errors?.maxlength">
                {{ 'contact.errors.maxlength'  }} 16
              </span>
              <span class="badge bg-danger" *ngIf="phone.errors?.minlength">
                {{ 'contact.errors.minlength'  }} 7
              </span>
              <span class="badge bg-danger" *ngIf="phone.errors?.pattern">
                {{ 'contact.errors.pattern_phone'  }}
              </span>
            </div -->
            <input
              class="form-control"
              id="phone"
              type="tel"
              placeholder="{{ 'contact.phone'  }}"
              formControlName="phone"
              maxlength="17"
              [ngClass]="{
                'active-error': validatePhone(phone)
              }"
            />
          </div>
        </div>
        <div class="col-md-6 wow bounceInUp">
          <div class="form-group form-group-textarea mb-md-0">
            <div *ngIf="checkError(message)" class="invalid-feedback">
              <span class="badge bg-danger" *ngIf="message.errors?.['required']">
                {{ 'contact.errors.required'  }}
              </span>
              <span class="badge bg-danger" *ngIf="message.errors?.['maxlength']">
                {{ 'contact.errors.maxlength'  }} 255
              </span>
              <span class="badge bg-danger" *ngIf="message.errors?.['minlength']">
                {{ 'contact.errors.minlength'  }} 10
              </span>
            </div>
            <textarea
              class="form-control"
              id="message"
              placeholder="{{ 'contact.message'  }}"
              maxlength="255"
              formControlName="message"
              [ngClass]="{
                'active-error': validate(message)
              }"
              (keyup)="setCountMessage($event)"
            ></textarea>
            <div class="invalid-feedback">
              <span class="badge bg-primary"> {{ countMessage }} / 255 </span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-xl mt-5 mb-5">
          {{ 'contact.send_message'  }}
        </button>
      </div>
    </form>
  </div>
</section>
