<header class="masthead">
  <div class="masthead-subheading">{{ 'header.welcome' | translate }}</div>
  <div class="masthead-heading wow slideInLeft">
    {{ 'header.my_name' | translate }} Armando Rojas
  </div>

  <ngx-typed-js
    [strings]="[
      'header.i_am' | translate,
      'Y tambien soy Ingeniero de sistemas',
      'Tengo experiencia laboral en...',
      'Laravel, Nodejs, Vue, Ionic y Angular'
    ]"
    [loop]="true"
    [backSpeed]="70"
    [typeSpeed]="50"
    [backDelay]="1000"
  >
    <div class="masthead-subheading typing"></div>
  </ngx-typed-js>
  <a
    href="#services"
    [ngClass]="{
      'btn btn-primary btn-lg mt-5': true,
      'animate__animated animate__pulse': animateBtn
    }"
    (mouseover)="removeAnimation()"
    (click)="toggleLanguage()"
    >{{ 'header.btn_translate' | translate }}</a
  >
</header>
