<div class="masthead" id="cv">
  <div class="container">
    <div class="d-grid gap-2">
      <a
        type="button"
        href="assets/cv2021.pdf"
        target="_blank"
        id="download_cv"
        [ngClass]="{
          'btn btn-primary': true,
          'animate__animated animate__pulse': animateBtn
        }"
        (mouseover)="removeAnimation()"
        (click)="addAnimation()"
      >
        {{ 'cv.download_cv' | translate }}
      </a>
    </div>
    <ng-particles
      [id]="id"
      [options]="particlesOptions"
      (particlesLoaded)="particlesLoaded($event)"
      (particlesInit)="particlesInit($event)"
    >
    </ng-particles>
  </div>
</div>
